body {
    font-family: 'Poppins', sans-serif;
}

.product-details {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.product-details img {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.product-info {
  flex: 1;
}

.cart-products {
  margin-top: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.cart-item img.cart-item-image {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.cart-item h3.cart-item-name {
  flex: 1;
  margin: 0 20px 0 0;
}

.cart-item .price.cart-item-price {
  margin-right: 20px;
}

.total-sum {
  font-weight: bold;
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.btn:active {
  background-color: #004085;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%; /* Increased width */
  max-width: 1600px; /* Set a larger maximum width */
  margin: 0 auto; /* Center the container */
  max-height: 80vh; /* Set a maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.remove-btn {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.remove-btn:hover {
  background-color: #cc0000;
}

.message-box {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

@media (max-width: 768px) {
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-item img.cart-item-image {
    margin-bottom: 10px;
  }

  .cart-item h3.cart-item-name,
  .cart-item .price.cart-item-price {
    margin: 0 0 10px 0;
  }
}

@media (max-width: 480px) {
  .cart-item img.cart-item-image {
    width: 100%;
    height: auto;
  }

  .cart-item h3.cart-item-name,
  .cart-item .price.cart-item-price {
    width: 100%;
    text-align: left;
  }

  .remove-btn {
    width: 100%;
    text-align: center;
  }
}
