body {
    font-family: 'Poppins', sans-serif;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Set three columns */
  gap: 20px;
}

.product {
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  max-width: 300px; /* Set a maximum width for the product containers */
  margin: 0 auto; /* Center the product containers */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: transform 0.3s ease; /* Add transition for smooth zoom-out effect */
  object-fit: cover; /* Ensure the image covers the area */
}

.product:hover img {
  transform: scale(0.95); /* Zoom out effect */
}

.product-info {
  margin-top: 10px;
  text-align: center; /* Ensure the text is centered */
}

.product-info h3 {
  font-size: 1em; /* Make the text smaller */
  margin: 10px 0;
}

.product-info p {
  font-size: 0.9em; /* Make the text smaller */
  margin: 5px 0;
}

.product-info .price {
  font-size: 1em; /* Make the text smaller */
  font-weight: bold;
  color: green; /* Set the price text color to green */
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.center-text {
  text-align: center;
}

.loading-message {
  text-align: center;
  font-size: 18px;
  color: #333;
  margin-top: 20px;
}

.error-message {
  text-align: center;
  font-size: 18px;
  color: red;
  margin-top: 20px;
}
